@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Practice time is:</h3>


<div class="well">
    <h4>For Musicians and Students:</h4>
    <p>
        Many musicians fall into ruts by playing the same songs or style over and over again.
        Practice time help break out of the cycle and help you progress forward.
    </p>
</div>

<div class="well">
    <h4>For Instructors:</h4>
    <p>
        Help your students by motivating them to keep practicing.
    </p>
</div>

<div class="well">
    <h4>For Parents:</h4>
    <p>
        Monitor your students progress and their assignments.
    </p>
</div>
