@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PracticeTime<br />
    Plymouth, MA 02360<br />
    <abbr title="Phone">P:</abbr>
    781.405.4686
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:barrett@wbsimms.com">barrett@wbsimms.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:barrett@wbsimms.com">barrett@wbsimms.com</a>
</address>