@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PracticeTime</h1>
    <p class="lead">PracticeTime is a free tool to allow musicians to track their practice time. It also provides support for parents and instructors to track their students progress.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For learners</h2>
        <p>
            PracticeTime provides a simple and powerful way to track what and how long you're practicing.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For instructors</h2>
        <p>Monitor practice time, assign passages, and collaborate with your students.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For parents</h2>
        <p>You can easily track your students practice time and assignments.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>