@using PracticeTime.Web.DataAccess.Models
@model PracticeTime.Web.Models.SessionsViewModel

@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jsapi.js"></script>
<script src="~/Scripts/PracticeTime-Index.js"></script>

<h2>Sessions</h2>

<div class="row">
    <div class="col-md-5" id="chart_div_timedate"></div>
    <div class="col-md-4" id="chart_div_timetitle"></div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <th>Instrument</th>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
        </thead>
        <tbody>
            @foreach (Session session in Model.AllSessions)
            {
                <tr>
                    <td>@session.C_Instrument.Name</td>
                    <td>@session.Title</td>
                    <td>@session.SessionDateTimeUtc.ToShortDateString()</td>
                    <td>@session.Time</td>
                </tr>
            }
        </tbody>
    </table>
</div>
