<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="55379Wm.BarrettSimms.PracticeTime" Publisher="CN=7B4F372A-32B9-405A-AE54-EE84EB99028B" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Practice Time!</DisplayName>
    <PublisherDisplayName>Wm. Barrett Simms</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PracticeTime.App">
      <VisualElements DisplayName="Practice Time!" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PracticeTime" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>